VesselProcessingSystem/.vs/ProjectEvaluation/vesselprocessingsystem.metadata.v9.bin
VesselProcessingSystem/.vs/ProjectEvaluation/vesselprocessingsystem.projects.v9.bin
VesselProcessingSystem/.vs/ProjectEvaluation/vesselprocessingsystem.strings.v9.bin
VesselProcessingSystem/.vs/VesselProcessingSystem/config/applicationhost.config
VesselProcessingSystem/.vs/VesselProcessingSystem/CopilotIndices/17.14.734.62261/CodeChunks.db
VesselProcessingSystem/.vs/VesselProcessingSystem/CopilotIndices/17.14.734.62261/SemanticSymbols.db
VesselProcessingSystem/.vs/VesselProcessingSystem/DesignTimeBuild/.dtbcache.v2
VesselProcessingSystem/.vs/VesselProcessingSystem/FileContentIndex/38099e46-ba14-4984-9081-a8e30ad73f33.vsidx
VesselProcessingSystem/.vs/VesselProcessingSystem/FileContentIndex/41507ba9-e65f-409b-aca0-1a4f15c1bfc3.vsidx
VesselProcessingSystem/.vs/VesselProcessingSystem/FileContentIndex/b9e81986-3460-4325-b35b-bd22a885aeec.vsidx
VesselProcessingSystem/.vs/VesselProcessingSystem/FileContentIndex/cb17455d-68a5-448d-a728-208804ffa5f4.vsidx
VesselProcessingSystem/.vs/VesselProcessingSystem/FileContentIndex/fe1e7791-5b56-4c2d-8df2-e21ca382a9f5.vsidx
VesselProcessingSystem/.vs/VesselProcessingSystem/v17/.futdcache.v2
VesselProcessingSystem/.vs/VesselProcessingSystem/v17/.suo
VesselProcessingSystem/.vs/VesselProcessingSystem/v17/DocumentLayout.backup.json
VesselProcessingSystem/.vs/VesselProcessingSystem/v17/DocumentLayout.json
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/ApiEndpoints.json
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/apphost.exe
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/EndpointInfo/VesselProcessingSystem.json
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/EndpointInfo/VesselProcessingSystem.OpenApiFiles.cache
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/rbcswa.dswa.cache.json
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/rpswa.dswa.cache.json
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/staticwebassets.removed.txt
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/VesselProcessingSystem.assets.cache
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/VesselProcessingSystem.csproj.BuildWithSkipAnalyzers
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/VesselProcessingSystem.csproj.FileListAbsolute.txt
VesselProcessingSystem/VesselProcessingSystem/obj/Debug/net8.0/VesselProcessingSystem.GlobalUsings.g.cs
VesselProcessingSystem/VesselProcessingSystem/obj/project.assets.json
VesselProcessingSystem/VesselProcessingSystem/obj/VesselProcessingSystem.csproj.nuget.dgspec.json
VesselProcessingSystem/VesselProcessingSystem/obj/VesselProcessingSystem.csproj.nuget.g.props
VesselProcessingSystem/VesselProcessingSystem/obj/VesselProcessingSystem.csproj.nuget.g.targets
